.text-align-center {
    text-align: center;
  }
  
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img.lightborder {
  border: 1px solid lightgray;
  padding: 2px;
  }

img.float-right {
  float: right;
  clear: both;
  }

  img.float-left {
  float: left!important;
  margin-right: 0.8rem;
}

  img.max-width-50 {
    max-width: 50%;
  }

  img.max-width-30 {
    max-width: 30%;
  }

  .image-caption {
    margin-top: -1.5rem;
    font-size: .9rem;
    color: #6c757d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  @media (min-width: 1200px) {
    ul.toc {
      width: 25% !important;
      float: right !important;
    }
  }

  @media (min-width: 500px) {
    ul.toc {
      width: 33% !important;
      float: right !important;
    }
  }

  ul.toc {
    float: none;
    width: 95%;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 5px;
    list-style-position: outside;
    list-style-type: disc;
    border-left: 5px solid lightgray;
    padding-left: 20px;
  }

  ul.toc li {
    color: lightgray;
    margin-left: 3px;
}

ul.toc li a {
  color: black;
}

ul.toc-title::before {
  content: "On this page";
  font-weight: 900;
  color: lightgray;
}


.box-citation {
  background-color: #efefef;
  /* border-left-color: #2980b9; */
  line-height: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-right: 0.2em solid #dfdfdf;
  border-bottom: 0.2em solid #dfdfdf;
  border-radius: 0.3rem;
  font-style: italic;
  font-family: "'Times New Roman', Times, serif";
}


.box-citation::before {
  content: "“";
  font-size: 5rem;
  padding-top: 0.2em;
  font-family: "'Times New Roman', Times, serif";
  float: left;
  color: #d1d1d1;
}

.box-citation::after {
  content: "”";
  font-size: 5rem;
  font-family: "'Times New Roman', Times, serif";
  float: right;
  color: #d1d1d1;
}



.box-citation.max-width-50 {
  max-width: 50%;
}

.box-citation.max-width-30 {
  max-width: 30%;
}

.box-citation.float-right {
  float: right;
  clear: both;
  margin-right: 0.8rem;
}

.box-citation.float-left {
  float: left!important;
  margin-right: 0.8rem;
}

.open-quote {
  font-size: 3rem;
  font-family: "'Times New Roman', Times, serif";
  float: left;
  color: #d1d1d1;
}
.close-quote {
  font-size: 3rem;
  font-family: "'Times New Roman', Times, serif";
  float: right;
  color: #d1d1d1;
}