.text-align-center {
    text-align: center;
  }
  
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img.lightborder {
  border: 1px solid lightgray;
  padding: 2px;
  }

img.float-right {
  float: right;
  clear: both;
  }

  img.float-left {
  float: left!important;
  margin-right: 0.8rem;
}

  img.max-width-50 {
    max-width: 50%;
  }

  img.max-width-30 {
    max-width: 30%;
  }

  .image-caption {
    margin-top: -1.5rem;
    font-size: .9rem;
    color: #6c757d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  @media (min-width: 1200px) {
    ul.toc {
      width: 25% !important;
      float: right !important;
    }
  }

  @media (min-width: 500px) {
    ul.toc {
      width: 33% !important;
      float: right !important;
    }
  }

ul.toc {
  float: none;
  width: 95%;
  /* text-transform: uppercase; */
  font-size: 0.8125rem;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 5px;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
  padding-inline-start: 15px;
  border-left: 4px solid #f0f0f0;
  padding-left: 5px;
  font-weight: bold;
}

  ul.toc ul {
    padding-inline-start: 10px;
    list-style-type: none;
  }

  ul.toc li {
    color: lightgray;
    margin-left: 3px;
}

ul.toc>li {
  border-bottom: 1px dotted lightgray;
}


ul.toc li a {
  color: #646464;
}

ul.toc li ul li a {
  color: rgb(124, 124, 124);
}

ul.toc li ul li ul li a {
  color: rgb(173, 173, 173);
}

ul.toc-title::before {
  text-transform: uppercase;
  content: "On this page";
  font-weight: 900;
  color: white;
  background: #c7c7c7;
  display: block;
  padding-left: 7px;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}


.box-citation {
  background-color: #efefef;
  /* border-left-color: #2980b9; */
  line-height: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-right: 0.2em solid #dfdfdf;
  border-bottom: 0.2em solid #dfdfdf;
  border-radius: 0.3rem;
  font-style: italic;
  font-family: "'Times New Roman', Times, serif";
}


.box-citation::before {
  content: "“";
  font-size: 5rem;
  padding-top: 0.2em;
  font-family: "'Times New Roman', Times, serif";
  float: left;
  color: #d1d1d1;
}

.box-citation::after {
  content: "”";
  font-size: 5rem;
  font-family: "'Times New Roman', Times, serif";
  float: right;
  color: #d1d1d1;
}



.box-citation.max-width-50 {
  max-width: 50%;
}

.box-citation.max-width-30 {
  max-width: 30%;
}

.box-citation.float-right {
  float: right;
  clear: both;
  margin-right: 0.8rem;
}

.box-citation.float-left {
  float: left!important;
  margin-right: 0.8rem;
}

.open-quote {
  font-size: 3rem;
  font-family: "'Times New Roman', Times, serif";
  float: left;
  color: #d1d1d1;
}
.close-quote {
  font-size: 3rem;
  font-family: "'Times New Roman', Times, serif";
  float: right;
  color: #d1d1d1;
}






@media (min-width: 1200px) {
  ul.toc {
    width: 25% !important;
    float: right !important;
  }
}

@media (min-width: 500px) {
  ul.toc {
    width: 33% !important;
    float: right !important;
  }
}

ul.site-section {
  font-size: 0.8125rem;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
  font-weight: bolder;
  color: dimgray;
  /* white-space: nowrap; */
}

ul.site-section ul {
  padding-inline-start: 5px;
  list-style-type: none;
}

ul.site-section ul li a{
  font-weight: normal;
  color: grey;
}

ul.site-section>li {
  color: lightgray;
  margin-top: 10px;
}

ul.site-section>li.active>a,
ul.site-section li ul>li.active,
ul.site-section li ul li ul>li.active {
  background-color: #e1e1e1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: block;
}


ul.site-section li a {
  color: gray;
}

.site-section-title {
  border-bottom: 1px solid gray;
  text-align: center;
  font-weight: 900;
  color: lightgray;
  margin-bottom: 5px;
}

.min-padding-lr {
  padding-right: 4px;
  padding-left: 4px;
}